@media (max-width: 1048px){
    .header h3{
        padding-left: 10px;
    }
    .header li a{
        padding: 14px 15px 0px 0px ;
    }
}
@media (max-width: 600px){
    #icon{
        display: block;
        font-size: 17px;
        line-height: 30px;
    }
    .header ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1b1e22;
        top: 50px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }
    .header li{
        display: block;
        padding: 20px;
        line-height: 50px;
    }
    .header ul.show{
        left: 0;
    }
    .header h3{
        font-size: 14px;
    }
    .b-1 img{
        width: 350px;
        height: 400px;
        margin-top: 70px;
    }
    .search{
        width: 75vw;
    }
    .playlist{
        margin-left: -20px !important;
    }
    .footer{
        /* margin-top: 1800px; */
    }
    .detail-footer h3{
        font-size: 16px;
    }
    .detail-footer h4{
        font-size: 14px;
    }
    .detail-footer p{
        font-size: 13px;
    }
    .manu-footer2 h4{
        font-size: 13px;
        font-weight: bold;
    }
    .manu-footer2 a{
        font-size: 13px;
    }
    .manu-footer li{
        line-height: 45PX;
    }
}
@media (max-width: 500px){
    
    .footer{
        /* margin-top: 2500px !important; */
        height: 500px;
    }
@media (max-width: 320px){
    
    .footer{
        height: 800px;
    }
}
@media (max-width: 499px){
    .quran-reciters{
        text-align: center;
        margin-left: -20px;
        font-size: 46px;
        text-decoration: underline;
    }
    .manu-footer i{
        display: none;
    }
    .r{
        font-size: 50px;
    }

}
@media (max-width: 394px){
    .search{
        width: 80vw;
    }
    .search input{
        font-size: 14px;
    }
    .manu-footer i{
        display: none;
    }
}